.top-navbar {
    background-color: #1E1E1E;
    padding: 5px;
    height: 68px;
}

.menu-icon {
    font-size: 1.3em;
    color: #fff;
}

.mat-toolbar-spacer {
    flex: 1 1 auto;
}

.nav-logo {
    height: 52px;
    width: 158px;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-left: 39px;
}

.span-text {
    padding-right: 10px;
    color: #939393;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.37px;
    line-height: 16px;
}

.search-holder-large {
    height: 34px;
    width: 581px;
    border-radius: 4px;
    background-color: #FFFFFF;
}

.top-nav-select-holder {
    height: 36px;
    width: 163px;
    border-radius: 3px;
    margin-right: 39px;
    margin-left: 24px;
    border: solid 1px transparent;
    background-image: linear-gradient(white, white),
    linear-gradient(to right, #00a096, #00b496, #aae650);
    background-origin: border-box;
    background-clip: content-box, border-box;
}

.top-nav-select {
    background-color: #231f20;
    color: #f4f4f4;
    padding: 10px;
    font-weight: bold;
    border: 0px;
    height: 100%;
    width: 100%;
}

.button-row {
    color: #f4f4f4;
    width: 100%
}

.top-bar-cart,
.top-bar-user {
    height: 27px;
    width: 27px;

}

.log-in-btn {
    margin-left: 90px;
}

.cart-btn {
    margin-left: -15px;
}

.search-input-large {
    width: 581px;
    height: 35px;
    padding-left: 14px;
    border-radius: 4px;
    border: 0px;

    background-image: url(../../../assets/images/top-nav/search.png);
    background-repeat: no-repeat;
    background-position-x: 565px;
    background-position-y: center;
    background-size: 21px 21px;

}

.search-input {
    width: 100%;
    height: 25px;
    padding-left: 15px;
    border-radius: 4px;
    border: 0px;
    /*
    background-image: url(../../../assets/images/top-nav/search.png);
    background-repeat: no-repeat;
    background-position: 2px 3px;
*/
}

.body-container {
    min-height: 100vh;
}
