<div fxLayout="row" fxLayoutAlign="flex-start" fxLayoutWrap class="top-bar">
    <div fxFlex="80" fxHide.sm fxHide.xs>&nbsp;</div>
    <div fxFlex="10" fxFlex.sm="50" fxFlex.xs="50">My Shop</div>
    <div fxFlex="10" fxFlex.sm="40" fxFlex.xs="40">Help & Contact</div>
</div>
<app-top-navbar></app-top-navbar>
<div fxLayout="column" fxLayoutAlign="flex-start" fxLayoutWrap class="body-container">
    <div fxFlex="100" class="top-banner">
        <div class="banner-text-holder">
            <h1 class="banner-text">Find the Perfect<br/>washer for you</h1>
            <div class="btn-holder">
                <button class="banner-button">Discover More <i class="fas fa-angle-right"></i></button>
            </div>
        </div>
    </div>
    <div fxFlex="100" class="top-banner-caption">
        <div fxLayout="row" fxLayoutAlign="flex-start" fxLayoutWrap>
            <div fxFlex="33" fxFlex.sm="50" fxFlex.xs="50" class="caption-item">
                <div fxLayout="row" fxLayoutAlign="flex-start" fxLayoutWrap>
                    <div fxFlex='15' fxHide.sm fxHide.xs><img src="../../../assets/images/icons/deliverycar.png" alt="delivery" class="banner-caption-image"></div>
                    <div fxFlex='85' fxFlex.sm="100" fxFlex.xs="100"><span>Same Day Delivery on all Nairobi Orders</span></div>
                </div>
            </div>
            <div fxFlex="33" fxFlex.sm="50" fxFlex.xs="50" class="caption-item" [ngStyle.sm]="{'border-right':'none'}" [ngStyle.xs]="{'border-right':'none'}">
                <div fxLayout="row" fxLayoutAlign="flex-start" fxLayoutWrap>
                    <div fxFlex='15' fxHide.sm fxHide.xs><img src="../../../assets/images/icons/skycash.png" alt="online payment" class="banner-caption-image"></div>
                    <div fxFlex='85' fxFlex.sm="100" fxFlex.xs="100"><span>Pay with MPesa Online OR Upon Delivery</span></div>
                </div>
            </div>
            <div fxFlex="33" fxHide.sm fxHide.xs>
                <div fxLayout="row" fxLayoutAlign="flex-start" fxLayoutWrap>
                    <div fxFlex='15' fxHide.sm fxHide.xs><img src="../../../assets/images/icons/skyagent.png" alt="delivery" class="banner-caption-image"></div>
                    <div fxFlex='85' fxFlex.sm="100" fxFlex.xs="100"><span>24/7 Kenyan-based customer service</span></div>
                </div>

            </div>
        </div>
    </div>
    <div fxFlex="100" class="section-1">
        <div fxLayout="row" fxLayoutAlign="flex-start" fxLayoutWrap>
            <div fxFlex="100" class="section-1-header">
                <h1 class="section-header">With us shop it all</h1>
                <small class="section-sub-title">We have it all, from your new garden furniture to a personal gift to your friend</small>
            </div>

        </div>
    </div>
</div>
<app-footer></app-footer>
