.top-bar {
    background-color: #000000;
    color: #fff;
    padding: 10px;
    font-size: 11px;
    text-align: right;
    height: 32px;
    font-weight: bold;
    letter-spacing: 0.32px;
    line-height: 13px;
}

.help-contact {
    text-align: left;
    padding-left: 17px
}

.top-banner {
    background-image: url(../../../assets/images/banner/washing_machine.png);
    background-position: center;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-repeat: no-repeat;
    height: 427px;
}

.banner-text-holder {
    padding: 69px 0px 0px 177px;
}

.banner-text {
    font-size: 68px;
    font-weight: 800;
    color: #000000;
    text-align: left;
    line-height: 80px;
    margin-bottom: 0px;
    padding-bottom: 22px;

}

@media all and (max-width: 700px) {
    .help-contact {
        text-align: right;
    }
    .banner-text {
        font-size: 3em !important;
    }
    .caption-item {
        padding: 1px !important;
        font-size: 0.8em;
    }
    .section-sub-title {
        font-size: 0.7em !important;
    }
    .section-1-categories {
        padding-left: 10px !important;
        padding-right: 10px !important;
    }
}

.banner-button {
    padding: 15px;
    color: #00a096;
    font-weight: bold;
    font-size: 1em;
    width: 100%;
    background-color: #fff;
    border: none;
    cursor: pointer;
}

.btn-holder {
    width: 170px;
    border: solid 2px transparent;
    border-radius: 2px;
    background-image: linear-gradient(white, white),
    linear-gradient(to right, #00a096, #00b496, #aae650);
    background-origin: border-box;
    background-clip: content-box, border-box;
}

.top-banner-caption {
    font-size: 14px;
    font-weight: bold;
    color: #231f20;
    padding: 20px;
    height: 63px;
}

.caption-item {
    text-align: center;
}

.banner-caption-image {
    height: 35px;
    margin-top: -10px;
}

.caption-text {
    color: #000000;
    font-size: 13px;
    font-weight: bold;
    line-height: 16px;
}

.section-1 {
    background-color: #f4f4f4;
    padding-bottom: 80px;
    padding-top: 20px;
}

.section-header {
    margin: 0px;
    color: #0E0E0E;
    font-family: Raleway;
    font-size: 24px;
    font-weight: bold;
    line-height: 29px;
    padding-bottom: 11px;
}

.section-sub-title {
    color: #585858;
    font-weight: bold;
    font-size: 0.9em;
}

.section-1-header {
    text-align: center;
    padding: 30px 15px 30px 15px;
}

.section-1-categories {
    padding-left: 30px;
}

.category-item {
    background-color: #fff;
    margin-bottom: 15px;
    overflow: hidden;
}

.category-image {
    width: 100%;
}

.category-header {
    margin: 0px;
    font-size: 1.2em;
    font-weight: bold;
}

.category-item-footer {
    padding: 10px;
}

.category-sub-header {
    color: #292828;
    font-size: 0.9em;
}

.section-2,
.section-4 {
    padding: 80px 15px 80px 15px;
    background-color: #fff;
}

.section-2-item {
    cursor: pointer;
}

.section-2-image {
    width: 100%;
    height: 100%;
}

.deals-container {
    padding: 10px;
}

.deal-item {
    border-radius: 3px;
    padding: 10px;
}

.deal-title {
    margin: 0px;
    font-size: 1em;
    text-align: left;
}

.deal-price-holder {
    padding: 10px 0px 10px 0px;
}

.deal-new-price {
    color: #55d187;
    font-weight: bold;
    padding-right: 10px;
}

.deal-old-price {
    color: #949191;
    font-size: 0.9em;
    text-decoration: line-through;
}

.deal-link-container {
    text-align: center;
    padding: 5px;
}

.deal-link {
    color: #292828;
    font-weight: bold;
}

.deals-scroll-left,
.deals-scroll-right {
    width: 70px;
    height: 70px;
    flex-shrink: 0;
    background-color: #fff;
    margin-top: 140px;
    color: #00a096;
    font-size: 3em;
    box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.09);
}

.deals-scroll-left {
    margin-left: 25px;
}

.deals-scroll-right {
    margin-left: -70px;
}

.section-4-about {
    padding: 30px;
}

.section-4-sub-title {
    font-size: 1em;
    margin: 0px;
    padding-bottom: 40px;
}

.testimonials-container {
    padding: 20px 0px 20px 0px;
}

.ratings-container {
    padding: 10px;
    letter-spacing: 5px;
    font-size: 1em;
    color: #ffd100;
}

.testimonial-title {
    text-transform: uppercase;
    color: #8e8d8d;
    letter-spacing: 0.5px;
    font-size: 1.2em;
}

.testimonial-caption {
    font-style: italic;
    font-size: 1.2em;
    margin: 0px;
}

.testimonial-caption:before {
    content: open-quote;
}

.testimonial-caption:after {
    content: close-quote;
}

.writer-container {
    padding: 20px 0px 20px 0;
}

.testimonial-btn-holder {
    text-align: center;
}

.testimonial-footer {
    background-color: #fff;
    width: 90%;
    margin-top: -100px;
    margin-left: 25px;
    padding: 40px;
}
