<div fxLayout="row" fxLayoutAlign="flex-start" fxLayoutWrap class="top-bar">
    <div fxFlex="80" fxHide.sm fxHide.xs>&nbsp;</div>
    <div fxFlex="10" fxFlex.sm="50" fxFlex.xs="50">My Shop</div>
    <div fxFlex="10" fxFlex.sm="40" fxFlex.xs="40">Help & Contact</div>
</div>
<app-top-navbar></app-top-navbar>
<div fxLayout="column" fxLayoutAlign="flex-start" fxLayoutWrap class="body-container">
    <div fxFlex="100" class="top-banner">
        <div class="banner-text-holder">
            <h1 class="banner-text">Find the Perfect<br/>washer for you</h1>
            <div class="btn-holder">
                <button class="banner-button">Discover More <i class="fas fa-angle-right"></i></button>
            </div>
        </div>
    </div>
    <div fxFlex="100" class="top-banner-caption">
        <div fxLayout="row" fxLayoutAlign="flex-start" fxLayoutWrap>
            <div fxFlex="33" fxFlex.sm="50" fxFlex.xs="50" class="caption-item">
                <div fxLayout="row" fxLayoutAlign="flex-start" fxLayoutWrap>
                    <div fxFlex='15' fxHide.sm fxHide.xs><img src="../../../assets/images/icons/deliverycar.png" alt="delivery" class="banner-caption-image"></div>
                    <div fxFlex='85' fxFlex.sm="100" fxFlex.xs="100"><span>Same Day Delivery on all Nairobi Orders</span></div>
                </div>
            </div>
            <div fxFlex="33" fxFlex.sm="50" fxFlex.xs="50" class="caption-item" [ngStyle.sm]="{'border-right':'none'}" [ngStyle.xs]="{'border-right':'none'}">
                <div fxLayout="row" fxLayoutAlign="flex-start" fxLayoutWrap>
                    <div fxFlex='15' fxHide.sm fxHide.xs><img src="../../../assets/images/icons/skycash.png" alt="online payment" class="banner-caption-image"></div>
                    <div fxFlex='85' fxFlex.sm="100" fxFlex.xs="100"><span>Pay with MPesa Online OR Upon Delivery</span></div>
                </div>
            </div>
            <div fxFlex="33" fxHide.sm fxHide.xs>
                <div fxLayout="row" fxLayoutAlign="flex-start" fxLayoutWrap>
                    <div fxFlex='15' fxHide.sm fxHide.xs><img src="../../../assets/images/icons/skyagent.png" alt="delivery" class="banner-caption-image"></div>
                    <div fxFlex='85' fxFlex.sm="100" fxFlex.xs="100"><span>24/7 Kenyan-based customer service</span></div>
                </div>
            </div>
        </div>
    </div>
    <div fxFlex="100" class="section-1">
        <div fxLayout="row" fxLayoutAlign="flex-start" fxLayoutWrap>
            <div fxFlex="100" class="section-1-header">
                <h1 class="section-header">With us shop it all</h1>
                <small class="section-sub-title">We have it all, from your new garden furniture to a personal gift to your friend</small>
            </div>
        </div>

        <div fxLayout="row wrap" fxLayout.lt-sm="column" fxLayoutGap="40px" fxLayoutAlign="flex-start" class="section-1-categories">
            <ng-container *ngFor="let cat of categories">
                <div fxFlex="0 1 30%" fxFlex.lt-sm="100%">
                    <div fxLayout="column" fxLayoutAlign="flex-start" fxLayoutWrap class="category-item">
                        <div fxFlex="100"><img src="{{cat.image}}" alt="{{cat.name}}" class="category-image"></div>
                        <div fxFlex="100" class="category-item-footer">
                            <div fxLayout="row" fxLayoutAlign="flex-start" fxLayoutWrap>
                                <div fxFlex="50">
                                    <h3 class="category-header">{{cat.name}}</h3>
                                    <small class="category-sub-header">{{cat.sub_title}}</small>
                                </div>
                                <div fxFlex="50">
                                    <div class="btn-holder">
                                        <button class="banner-button">Shop Now</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-container>
        </div>
    </div>
    <div fxFlex="100" class="section-2">
        <div fxLayout="row" fxLayout.sm="column" fxLayout.xs="column" fxLayoutAlign="center" fxLayoutWrap>
            <div fxFlex="48" fxFlex.lt-sm="100%" class="section-2-item">
                <img class="section-2-image" src="../../../assets/images/section_2/birthday.png" alt="birthday">
            </div>
            <div fxFlex="4" fxHide.sm fxHide.xs>&nbsp;</div>
            <div fxFlex="48" fxFlex.lt-sm="100%" class="section-2-item">
                <img class="section-2-image" src="../../../assets/images/section_2/for_vacation.png" alt="vacation">
            </div>
        </div>
    </div>

    <div fxFlex="100" class="section-1">
        <div fxLayout="row" fxLayoutAlign="flex-start" fxLayoutWrap>
            <div fxFlex="100" class="section-1-header">
                <h1 class="section-header">Deals of the day</h1>
                <small class="section-sub-title">Limited time only. Better get it today, won't get it tomorrow</small>
            </div>
        </div>

        <div fxLayout="row wrap" fxLayout.lt-sm="column" fxLayoutGap="30px" fxLayoutAlign=”flex-start” class="deals-container">
            <div fxFlex="3" fxHide.sm fxHide.xs>
                <button mat-icon-button class="deals-scroll-left">
                    <i class="fas fa-angle-left"></i>
                </button>
            </div>
            <div fxFlex="20" fxFlex.lt-sm="100%" *ngFor="let deal of deals">
                <div fxLayout="column" fxLayoutAlign="center" fxLayoutWrap class="category-item deal-item">
                    <div fxFlex="100"><img src="{{deal.image}}" alt="{{deal.name}}" class="category-image"></div>
                    <div fxFlex="100" class="category-item-footer">
                        <div fxLayout="column" fxLayoutAlign="flex-start" fxLayoutWrap>
                            <div fxFlex="100">
                                <h3 class="deal-title">{{deal.name}}</h3>
                                <small class="category-sub-header">{{deal.sub_title}}</small>
                            </div>
                            <div fxFlex="100" class="deal-price-holder">
                                <span class="deal-new-price">{{deal.new_price}}</span><span class="deal-old-price">{{deal.old_price}}</span>
                            </div>
                            <div fxFlex="100" class="deal-link-container">
                                <a routerLink="/" class="deal-link">Add to cart</a>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div fxFlex="2" fxHide.sm fxHide.xs>
                <button mat-icon-button class="deals-scroll-right">
                    <i class="fas fa-angle-right"></i>
                </button>
            </div>
        </div>
    </div>
    <div fxFlex="100" class="section-4">
        <div fxLayout="row" fxLayout.sm="column" fxLayout.xs="column" fxLayoutAlign="flex-start" fxLayoutWrap>
            <div fxFlex='50' fxFlex.lt-sm="100%" class="section-4-about">
                <div fxLayout="column" fxLayoutAlign="flex-start" fxLayoutWrap>
                    <div fxFlex="100">
                        <h1>Sky.Garden makes it easy to buy from retailers all over Kenya.</h1>
                    </div>
                    <div fxFlex="100">
                        <h6 class="section-4-sub-title"> We are much more than just a marketplace.</h6>
                    </div>
                    <div fxFlex='100'>
                        <div class="btn-holder">
                            <button class="banner-button">About Us</button>
                        </div>
                    </div>
                </div>
            </div>
            <div fxFlex='50' fxFlex.lt-sm="100%">
                <img class="section-2-image" src="../../../assets/images/section_4/section_4.png" alt=" about us">
            </div>
        </div>
    </div>

    <div fxFlex="100" class="section-1">
        <div fxLayout="row" fxLayoutAlign="flex-start" fxLayoutWrap>
            <div fxFlex="100" class="section-1-header">
                <h1 class="section-header">Sellers of the month</h1>
                <small class="section-sub-title">Every Sky.Garden seller is awesome, but these have shown just how much this month!</small>
            </div>
        </div>

        <div fxLayout="row wrap" fxLayout.lt-sm="column" fxLayoutGap="15px" fxLayoutAlign=”flex-start” class="testimonials-container ">
            <ng-container *ngFor="let item of testimonials">
                <div fxFlex="1" fxHide.sm fxHide.xs>&nbsp;</div>
                <div fxFlex="0 1 30%" fxFlex.lt-sm="100%">
                    <div fxLayout="column" fxLayoutAlign="center" fxLayoutWrap class="category-item">
                        <div fxFlex="100"><img src="{{item.image}}" alt="{{item.title}}" class="category-image"></div>
                        <div fxFlex="100" class="testimonial-footer">
                            <div fxLayout="column" fxLayoutAlign="flex-start" fxLayoutWrap>
                                <div fxFlex="100" class="ratings-container">
                                    <i class="fas fa-star ratings-star"></i>
                                    <i class="fas fa-star ratings-star"></i>
                                    <i class="fas fa-star ratings-star"></i>
                                    <i class="fas fa-star ratings-star"></i>
                                    <i class="fas fa-star ratings-star"></i>
                                </div>
                                <div fxFlex="100">
                                    <h1 class="testimonial-title">{{item.title}}</h1>
                                </div>
                                <div fxFlex="100">
                                    <h1 class="testimonial-caption">{{item.caption}}</h1>
                                </div>
                                <div fxFlex="100" class="writer-container">
                                    <b>{{item.writer}} </b><span>wrote on {{item.date}}</span>
                                </div>
                                <div fxFlex="100" class="testimonial-btn-holder">
                                    <div class="btn-holder">
                                        <button class="banner-button">Visit Shop</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-container>
        </div>

        <div fxLayout="row" fxLayout.sm="column" fxLayout.xs="column" fxLayoutAlign="center" fxLayoutWrap>
            <div fxFlex="40" fxFlex.lt-sm="100%" class="section-2-item">
                <img class="section-2-image" src="../../../assets/images/section_5/curious.png" alt="birthday">
            </div>
            <div fxFlex="5" fxHide.sm fxHide.xs>&nbsp;</div>
            <div fxFlex="40" fxFlex.lt-sm="100%" class="section-2-item">
                <img class="section-2-image" src="../../../assets/images/section_5/ready.png" alt="vacation">
            </div>
            <div fxFlex="5" fxHide.sm fxHide.xs>&nbsp;</div>
        </div>



    </div>

</div>
<app-footer></app-footer>
