@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body {
    margin: 0px;
    padding: 0px;
    width: 100%;
    font-family: 'Open Sans';
}

.sky-grad {
    background: -webkit-gradient(linear, left top, right top, from(#00a096), color-stop(#00b496), to(#aae650));
    background: linear-gradient(to right, #00a096, #00b496, #aae650);
}

/*SPLASH SCREEN---------------*/

.splash-img {
    position: absolute;
    max-width: 80%;
    top: 10%;
    left: 10%;
}

.splash-img:empty {
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

@media screen and (orientation: portrait) {
    .splash-img {
        max-width: 90%;
    }
}

@media screen and (orientation: landscape) {
    .splash-img {
        max-height: 90%;
    }
}

/*END SPLASH------------------*/
