<div fxLayout="row" fxLayout.sm="column" fxLayout.xs="column" fxLayoutAlign="flex-start" fxLayoutWrap class="footer" [ngStyle.sm]="{'padding':'25px'}" [ngStyle.xs]="{'padding':'25px'}">
    <div fxFlex="25" fxFlex.sm="100" fxFlex.xs="100">
        <div fxLayout="column" fxLayoutAlign="flex-start" fxLayoutWrap>
            <div fxFlex="100">
                <h1 class="h1-headers">COMPANY</h1>
            </div>
            <div fxFlex="100">
                <h3 class="h3-text">About US</h3>
            </div>
            <div fxFlex="100">
                <h3 class="h3-text">Sell with Sky.Garden</h3>
            </div>
            <div fxFlex="100">
                <h3 class="h3-text">Sky.Garden Blog</h3>
            </div>
        </div>
    </div>
    <div fxFlex="25" fxFlex.sm="100" fxFlex.xs="100" fxHide.sm fxHide.xs>
        <div fxLayout="column" fxLayoutAlign="flex-start" fxLayoutWrap>
            <div fxFlex="100">
                <h1 class="h1-headers">CONTACT US</h1>
            </div>
            <div fxFlex="100">
                <h3 class="h3-text">FAQ Center</h3>
            </div>
            <div fxFlex="100">
                <h3 class="h3-text"><a href="mailto:hello@sky.garden"></a></h3>
            </div>
            <div fxFlex="100">
                <h3 class="h3-text">hello@sky.garden</h3>
            </div>
            <div fxFlex="100">
                <h3 class="h3-text">
                    5<sup>th</sup> Floor, Senteu Plaza<br>Nairobi Kenya
                </h3>
            </div>
        </div>
    </div>
    <div fxFlex="30" fxFlex.sm="100" fxFlex.xs="100">
        <div fxLayout="column" fxLayoutAlign="flex-start" fxLayoutWrap>
            <div fxFlex="100">
                <h1 class="h1-headers">SHOPPING WITH US IS EASY</h1>
            </div>
            <div fxFlex="100">
                <div fxLayout="row" fxLayoutAlign="flex-start" fxLayoutWrap>
                    <div fxFlex="20"><img src="../../../assets/images/icons/footer_van.png" alt="" class="footer-icons"></div>
                    <div fxFlex="80">
                        <h3 class="h3-text">Same Day Delivery</h3>
                    </div>
                </div>
            </div>
            <div fxFlex="100">
                <div fxLayout="row" fxLayoutAlign="flex-start" fxLayoutWrap>
                    <div fxFlex="20"><img src="../../../assets/images/icons/footer_lock.png" alt="" class="footer-icons"></div>
                    <div fxFlex="80">
                        <h3 class="h3-text">Secure payment online or on delivery</h3>
                    </div>
                </div>
            </div>
            <div fxFlex="100">
                <div fxLayout="row" fxLayoutAlign="flex-start" fxLayoutWrap>
                    <div fxFlex="20"><img src="../../../assets/images/icons/footer_returns.png" alt="" class="footer-icons"></div>
                    <div fxFlex="80">
                        <h3 class="h3-text">Free Returns</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div fxFlex="20" fxFlex.sm="100" fxFlex.xs="100">
        <div fxLayout="column" fxLayoutAlign="flex-start" fxLayoutWrap>
            <div fxFlex="100">
                <h1 class="h1-headers">FOLLOW OUR NEWS</h1>
            </div>
            <div fxLayout="row" fxLayoutAlign="flex-start" fxLayoutWrap>
                <div fxFlex="20"><i class="fab fa-facebook-square social-icon"></i></div>
                <div fxFlex="80">
                    <h3 class="h3-text">Facebook</h3>
                </div>
            </div>
            <div fxLayout="row" fxLayoutAlign="flex-start" fxLayoutWrap>
                <div fxFlex="20"><i class="fab fa-twitter social-icon"></i></div>
                <div fxFlex="80">
                    <h3 class="h3-text">Twitter</h3>
                </div>
            </div>
            <div fxLayout="row" fxLayoutAlign="flex-start" fxLayoutWrap>
                <div fxFlex="20"><i class="fab fa-linkedin social-icon"></i></div>
                <div fxFlex="80">
                    <h3 class="h3-text">LinkedIn</h3>
                </div>
            </div>
        </div>
    </div>
</div>
<div fxLayout="column" fxLayoutAlign="center center" fxLayoutWrap class="footer-bottom">
    <div fxFlex="100"><img src="../../../assets/images/logo/skylogo_green.png" alt="" class="footer-logo" [ngStyle.sm]="{'height':'40px'}" [ngStyle.xs]="{'height':'40px'}"></div>
    <div fxFlex="100" style="padding: 10px">
        <h3 class="privacy-policy">Privacy Policy | Terms & Conditions</h3>
    </div>
    <div fxFlex="100" style="padding-bottom: 30px;">
        <span class="footer-name">SKY.GARDEN 2018</span>
    </div>
</div>
